
.link-naomi{
    text-align: center;
    text-decoration: none;
    @include link-states;
    &__primary{
        color: $color-ruddy-pink;        
    }
    &__secondary{
        color: $color-raisin-black;
    }
    &--ligth{
        color: $color-ligth-grey;
        
    }
    &--dark{
        color: $color-eerie-black;
    }
}