.link-naomi {
  text-decoration: none;
  text-align: center;
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: $fz-medium;
  @include link-states;
  &__primary {
    color: $color-ruddy-pink;
  }
  &__secondary {
    color: $color-raisin-black;
  }
  &--ligth {
    color: $color-ligth-grey;
  }
  &--dark {
    color: $color-eerie-black;
  }
  @media (min-width: 768px) {
    text-align: left;
    font-size: $fz-large;
  }
}
