

.article {
    color: $color-raisin-black;
    padding: 50px;
    text-align: left;
    opacity: 1;
    &__date{
        font-family: $ff-playfair;
        font-size: $fz-medium;
        font-weight: 400;
        letter-spacing: 0px;

    }
    &__body{
        margin-top: 47px;
        font-family: $ff-roboto;
        font-size: $fz-medium;
        font-weight: 300;
        line-height: 3;
        letter-spacing: 0.56px;
    }
    @media screen and (min-width: 768px){
        padding: 100px;
        font-size: $fz-large;
        letter-spacing: 0.6px;
    }
    &-container{
        min-height: 1160px;
    }

    &-button{
            display: flex;
            justify-content:space-around;
            margin-top: 50px;
            
            @media screen and (min-width:768px ) {
                justify-content: start;
                :last-child{
                    margin-left: 10px;
                }
            }
          
            
        }
}

