body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.article__button {
  height: 51px;
  background-color: #6C6E70;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.article__button:hover {
  background-color: #D1D1D1;
}
.article__button:focus {
  border: 4px solid #D1D1D1;
}
.article__button--small {
  width: 115px;
}
.article__button--medium {
  width: 182px;
}

.article__button + .article__button {
  margin-top: 10px;
}

.link-naomi {
  text-align: center;
  text-decoration: none;
}
.link-naomi __primary:hover {
  color: #222323;
}
.link-naomi __primary:active {
  color: #E6E7E7;
}
.link-naomi --light:hover {
  color: #fff;
}
.link-naomi --light:active {
  color: #D76C69;
}
.link-naomi__primary {
  color: #D76C69;
}
.link-naomi__secondary {
  color: #222323;
}
.link-naomi--ligth {
  color: #D1D1D1;
}
.link-naomi--dark {
  color: #121619;
}

.page-link {
  background-color: #fff;
  color: #121619;
}
.page-link:active {
  color: #777777;
  border: none;
}
.page-link:hover {
  background-color: #121619;
  color: #fff;
}

.page-item:first-child .page-link {
  border-radius: 20px 0 0 20px;
}

.page-item:last-child .page-link {
  border-radius: 0 20px 20px 0;
}

.navigation {
  display: flex;
  background-color: #121619;
  height: 96px;
}
.navigation__logo {
  width: 81px;
  height: auto;
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-left: 80px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 640px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 702px;
  }
}

.article {
  color: #222323;
  padding: 50px;
  text-align: left;
  opacity: 1;
}
.article__date {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}
.article__body {
  margin-top: 47px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 3;
  letter-spacing: 0.56px;
}
@media screen and (min-width: 768px) {
  .article {
    padding: 100px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}

__container-button {
  display: flex;
  justify-content: space-around;
  margin-top: 47px;
}

.naomi {
  display: inline-block;
  border: solid 0.3px;
  border-color: #E6E7E7;
}
.naomi__img-naomi {
  display: block;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  width: 131px;
  height: 133px;
}
.naomi__name {
  font: italic normal 900 30px "Playfair Display", serif;
  color: #121619;
  text-align: center;
}
.naomi__text {
  max-width: 617px;
  color: #121619;
  line-height: 40px;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121619;
  height: 206px;
}
.footer__logo {
  width: 81px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    height: 122px;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 122px;
    height: 51px;
  }
}

/*# sourceMappingURL=styles.css.map */
