// Color scheme
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-ligth-grey: #d1d1d1;
$color-fuzzy-wuzzy: #e56353;
$color-ruddy-pink: #d76c69;
$color-spanish-pink: #ecbcba;
$color-eerie-black: #121619;
$color-raisin-black: #222323;
$color-nickel: #6c6e70;

// Font sizes
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;

//Font Families
$ff-playfair: "Playfair Display", sans-serif;
$ff-roboto: "Roboto", sans-serif;

// Img sizes
$img-normal: 180px;
$img-small: 130px;
