// Color scheme
$color-white:  #fff;
$color-platinum: #E6E7E7;
$color-ligth-grey: #D1D1D1;
$color-fuzzy-wuzzy: #E56353;
$color-ruddy-pink: #D76C69;
$color-spanish-pink: #ECBCBA;
$color-eerie-black: #121619;
$color-raisin-black: #222323;
$color-nickel: #6C6E70;

// Font sizes
$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;

//Font Families
$ff-playfair:'Playfair Display', serif;
$ff-roboto: 'Roboto', sans-serif;


// Img sizes

$img-normal: 180px;
$img-small: 130px;
